<!--- Partial that displays member's assessments as a list.
Error, not displaying.


<section class="ui raised segment">
#{list items:_assessments, as:'assessment'}
<table class="ui unstackable table">
    <thead>
    <tr>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
    </tr>
    </thead>
<tbody>
<tr>
    <td>${_assessment.weight_input}</td>
    <td>${_assessment.chest_input}</td>
    <td>${_assessment.thigh_input} </td>
    <td>${_assessment.upperArm_input} </td>
    <td>${_assessment.waist_input} </td>
    <td>${_assessment.hips_input} </td>
    <td><a href="/dashboard/deleteassessment/${_assessment.id}" class="ui icon button">
        <i class="icon trash"></i></a></td>
#{/list}
</tr>
</tbody>
</table>
</section>

--->